@page "/"

<input step="any" type="text" inputmode="numeric" min="0" @bind="@someObject.SomeValue"
       @oninput="ValidateInput" pattern="[0-9]*([,.][0-9]+)?"
       title="Введите число" class="numeric-input" maxlength="10" />

<div class="error-message">@errorMessage</div>

@code {
    private SomeModel someObject = new SomeModel();
    private string errorMessage = "";

    private void ValidateInput(ChangeEventArgs args)
    {
        string inputValue = args.Value?.ToString();

        if (!float.TryParse(inputValue, out float floatValue))
        {
            errorMessage = "Введите верный формат";
        }
        else
        {
            errorMessage = "";
        }
    }

    private void KeyPressHandler(KeyboardEventArgs args)
    {
        string pressedKey = args.Key;

        if (!char.IsDigit(pressedKey[0]) && pressedKey != "." && pressedKey != ",")
        {
            // args.PreventDefault(); // думаю запретить пользователю вводить, но для этого нужно применить js,
            // а Blazor подрузамевает НЕ использования Js
        }
    }

    public class SomeModel
    {
        public float SomeValue { get; set; }
    }
}

<style>
    .numeric-input:invalid {
        border: red solid 3px;
    }

    .numeric-input {
        width: 100px;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 8px;
        font-size: 14px;
    }

    .error-message {
        color: red;
        margin-top: 4px;
    }
</style>