@page "/"

<input step="any" type="text" inputmode="tel" min="0" @bind="@someObject.SomeValue"
       @oninput="ValidateInput" class="someCss" pattern="@pattern" @onkeypress="KeyPressHandler" />

<div style="color: red;">@errorMessage</div>

@code {
    private SomeModel someObject = new SomeModel();
    private string errorMessage = "";
    string pattern = @"^[0-9]+([,.][0-9]+)?$";
    private void ValidateInput(ChangeEventArgs args)
    {
        string inputValue = args.Value?.ToString();


        if (!System.Text.RegularExpressions.Regex.IsMatch(inputValue, pattern))
        {
            errorMessage = "Введите верный формат";
        }
        else
        {
            errorMessage = "";

            // ...
        }
    }

    private void KeyPressHandler(KeyboardEventArgs args)
    {
        string pressedKey = args.Key;

        if (!char.IsDigit(pressedKey[0]) && pressedKey != "." && pressedKey != ",")
        {
            // args.PreventDefault(); // думаю запретить пользователю вводить, но для этого нужно применить js, 
            // а Blazor подрузамевает НЕ использования Js
        }
    }

    public class SomeModel
    {
        public float SomeValue { get; set; }
    }
}

<style>
    .someCss:invalid {
        border: red solid 3px;
    }

    .someCss {
        width: 100px;
    }
</style>